
.sword-piece{
	position: relative;
	width: 25px;
	max-width: 25px;
	height: 25px;
	max-height:25px;
	padding: 0px;
	margin: 0px;
	border: 1px solid black;
	border-radius:50%;	
	z-index: 5;
	background-color: black;
}

#stark_sword_1{
	top: -2610px;
	left: 1100px;
	background-color: gray;
}
#lannister_sword_1{
	top: -2635px;
	left: 1100px;
	background-color: gold;
}
#martell_sword_1{
	top: -2665px;
	left: 1100px;
	background-color: green;
}
#targaryen_sword_1{
	top: -2690px;
	left: 1100px;
	background-color: red;
}
#stark_sword_2{
	top: -2610px;
	left: 1175px;
	background-color: gray;
}
#lannister_sword_2{
	top: -2635px;
	left: 1175px;
	background-color: gold;
}
#martell_sword_2{
	top: -2665px;
	left: 1175px;
	background-color: green;
}
#targaryen_sword_2{
	top: -2690px;
	left: 1175px;
	background-color: red;
}
#stark_sword_3{
	top: -2610px;
	left: 1250px;
	background-color: gray;
}
#lannister_sword_3{
	top: -2635px;
	left: 1250px;
	background-color: gold;
}
#martell_sword_3{
	top: -2665px;
	left: 1250px;
	background-color: green;
}
#targaryen_sword_3{
	top: -2690px;
	left: 1250px;
	background-color: red;
}
#stark_sword_4{
	top: -2610px;
	left: 1325px;
	background-color: gray;
}
#lannister_sword_4{
	top: -2635px;
	left: 1325px;
	background-color: gold;
}
#martell_sword_4{
	top: -2665px;
	left: 1325px;
	background-color: green;
}
#targaryen_sword_4{
	top: -2690px;
	left: 1325px;
	background-color: red;
}



