
.throne-piece{
	position: relative;
	width: 25px;
	max-width: 25px;
	height: 25px;
	max-height:25px;
	padding: 0px;
	margin: 0px;
	border: 1px solid black;
	border-radius:50%;	
	z-index: 5;
	background-color: black;
}

#stark_throne_1{
	top: -2560px;
	left: 1100px;
	background-color: gray;
}
#lannister_throne_1{
	top: -2595px;
	left: 1100px;
	background-color: gold;
}
#martell_throne_1{
	top: -2620px;
	left: 1105px;
	background-color: green;
}
#targaryen_throne_1{
	top: -2645px;
	left: 1105px;
	background-color: red;
}
#stark_throne_2{
	top: -2560px;
	left: 1175px;
	background-color: gray;
}
#lannister_throne_2{
	top: -2595px;
	left: 1175px;
	background-color: gold;
}
#martell_throne_2{
	top: -2620px;
	left: 1175px;
	background-color: green;
}
#targaryen_throne_2{
	top: -2645px;
	left: 1175px;
	background-color: red;
}
#stark_throne_3{
	top: -2560px;
	left: 1250px;
	background-color: gray;
}
#lannister_throne_3{
	top: -2595px;
	left: 1250px;
	background-color: gold;
}
#martell_throne_3{
	top: -2620px;
	left: 1250px;
	background-color: green;
}
#targaryen_throne_3{
	top: -2645px;
	left: 1250px;
	background-color: red;
}
#stark_throne_4{
	top: -2560px;
	left: 1325px;
	background-color: gray;
}
#lannister_throne_4{
	top: -2595px;
	left: 1325px;
	background-color: gold;
}
#martell_throne_4{
	top: -2620px;
	left: 1325px;
	background-color: green;
}
#targaryen_throne_4{
	top: -2645px;
	left: 1320px;
	background-color: red;
}



